<!DOCTYPE html>
<html>
<head>
    <title>Adjust book content</title>
</head>
<body>
    <h1>Library System</h1>
    <form action="/adjust_content" method="POST">
        <label>ID:</label>
        <input type="text" name="id" required><br><br>
        <label>New Title:</label>
        <input type="text" name="new_title" required><br><br>
        <label>New Author:</label>
        <input type="text" name="new_author" required><br><br>

        <button type="submit">Adjust book content</button>
    </form>
    <br>
    <a href="/">Back to Search</a>
</body>
</html>