<!DOCTYPE html>
<html>
<head>
    <title>Library Search</title>
</head>
<body>
    <h1>Library System</h1>
    <form action="/search">
        <input type="radio" name="type" value="title"> Title
        <input type="radio" name="type" value="author"> Author
        <input type="radio" name="type" value="bid"> id
        <input type="text" name="keyword" placeholder="Enter search keyword">
        <input type="submit" value="Search">
    </form>
    <br>
    <a href="/add">Add a new book</a>
    <a href="/delete_book">Delete a book with id</a>
</body>
</html>
